# Ultra-modern browsers (minimal polyfills, maximum performance)
> 1%
last 1 version
not dead
not ie 11
not op_mini all
not safari < 14
not chrome < 90
not firefox < 90
not edge < 90
supports es6-module
supports es6-module-dynamic-import
